/* color picked */
/* #f5f8fa; sfondo navbar e better together*/
/* #425567 scritte navbar */
/* #33475b h1 better_way */
/* #868e97 p better_way */
/* #425567 arancione pulsanti */
 /* da #00a8ba a #00b7ab sfondo award winning */
 /* #33475b sfondo footer */
/* #ffffff h5 footer */
 /* #cbd6e2 tutte le scritte del footer tranne h5 */

/* DEBUG:  */

.fully_large{
  background-color: yellow;
}
.main_col{
  background-color: violet;
}








/* _______________ RESET RULES______________ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ______________ COMMON RULES______________ */
li{list-style-type: none;}
a{text-decoration: none;}
.fully_large{width: 100vw;}
.main_col{
  width: 54vw;
  display: block;
  margin: 0 23vw;
}
.logo{
  height: 30px;
}
/* ______________ HEADER RULES______________ */
header{

}
.header_icon{
  height: 28px;
}

/* ______________ NAV RULES______________ */
nav{

}
/* ______________ MAIN RULES______________ */
main{

}
/* ______________ SECTION RULES______________ */
section{

}
                /* ______________ better_way ______________ */
#better_together img{
  height: 195px;
}
                /* ______________ better_together ______________ */
#free_hubspot_crm img{
  height: 150px;
}
                /* ______________ horiz_card ______________ */
.vert_card img{
  height: 150px;
}
                /* ______________ vert_card ______________ */

/* ______________ FOOTER RULES______________ */
footer{

}
