/* color picked */
/* #33475b h1 better_way */
/* #868e97 p better_way */
/* #425567 arancione pulsanti */
 /* da #00a8ba a #00b7ab sfondo award winning */
 /* #33475b sfondo footer */
/* #ffffff h5 footer */
 /* #cbd6e2 tutte le scritte del footer tranne h5 */

/* _______________ RESET RULES______________ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #33475b;
}

/* ______________ COMMON RULES______________ */
li{list-style-type: none;}
a{text-decoration: none;}
.fully_large{width: 100vw;}
.fully_large_gray{
  background-color: #f5f8fa;
}
.main_col{
  width: 54vw;
  display: block;
  margin: 0 23vw;
}
.logo{
  height: 30px;
}
.block_rel_left{
  position: relative;
  display: block;
  float: left;
}
.block_rel_right{
  position: relative;
  display: block;
  float: right;
}
.btn{
  border: 2px solid #ff7a59;
  border-radius: 6px;
  padding: 16px;
  margin-top: 4px;
}
.btn_fill{
  background-color: #ff7a59;
  color: white;
}
.btn_transp{
  border-color: #ff7a59;
  color: #ff7a59;
}
a{
  font-size: 16px;
  font-weight: bold;
}
h1{
  font-size: 46px;
  margin-top: 100px;
}
h2{
  font-size: 32px;
}
p{
  margin-top: 20px;
  font-size: 18px;
}
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.p_small{
  font-size: 14px;
}
/* ______________ HEADER RULES______________ */
header{
  color: #425567;
}
#fixed_bar{
  height: 80px;
  /* position: fixed; da fare vedere!!!!*/
}
#fixed_bar ul{
  display: none;
}
#fixed_bar a{
  margin-left: 25px;
}
#selected_lang{
  margin-left: 5px !important;
}
.header_a{
  margin-top: 20px;
}
.header_icon{
  height: 28px;
  margin-top: 15px;
  margin-right: 11px;
}
.fa-search{
  margin-top: 22px;
}
#login_container{
  padding-top: 10px;
}
/* ______________ NAV RULES______________ */
.logo{
  margin-top: 20px;
}
nav{
  display: block;
  height: 80px;
  margin-top: 80px;
}
nav ul li{
  display: inline-block;
  margin-left: 25px;
  margin-top: 28px;
}
/* ______________ MAIN RULES______________ */
main{}
/* ______________ SECTION RULES______________ */
section{}
                /* ______________ better_way ______________ */
#better_way{
  background-image: url("../img/jumbotron.png");
}
#better_way_block{
  width: 50%;
  height: 750px;
}
#better_way a{
  display: inline-block;
  margin-top: 20px;
}
                /* ______________ better_together ______________ */
#better_together img{
  height: 195px;
}
#rubik{
  margin: 0 auto 30px;
  padding-top: 80px;
  display: block;
  box-sizing: initial;
}
#better_together h2{
  text-align: center;
}
#better_together p{
  text-align: center;
  margin-top: 30px;
}
#free_hubspot_crm img{
  height: 150px;
}
                /* ______________ horiz_card ______________ */
.vert_card img{
  height: 150px;
}
                /* ______________ vert_card ______________ */

/* ______________ FOOTER RULES______________ */
footer{

}
